Options -Indexes
DirectoryIndex index.php

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule "(^|/)\." - [F,L]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^setlang/([a-zA-Z_]+)$ index.php?op=setlang&lang=$1 [QSA,L]
    RewriteRule ^([a-zA-Z0-9_-]+)/?$ index.php?op=$1 [QSA,L]
    RewriteRule ^ index.php [QSA,L]
</IfModule>

<FilesMatch "(^\.|\.env|\.ini|\.log|composer\.(json|lock)|package(-lock)?\.json|yarn\.lock)$">
    Require all denied
</FilesMatch>
